@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --background: #202429;
  --light-background: #313640;
  --grey: #929292;
  --blue: #005DD5;
}

* {
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  color: white;
  background-color: var(--background);
  box-sizing: border-box;
}

.container {
  max-width: 600px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

